# Empty CSS file for your own CSS

.classWithPad { 
    margin:30px; padding:30px;
}
.downbit {
    position: relative; 
    top:20px;
    padding-bottom: 25px;
}
.datamove {
    position: absolute; 
    top: 50%; 
    left: 50%;
    margin-top: 50px; 
    margin-left: -400px;
}
/*.col-md-12 { 
    background-color: rgb(155, 155, 155);
    padding:30px;
}*/
.col-md-8 { 
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding:20px;
    
}
.col-lg-4 { 
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding:20px;
    
}
.text-nowrap {
    white-space: nowrap;
}
.Center { 
    position: absolute; 
    top: 50%; 
    left: 50%;
    margin-top: 50px; 
    margin-left: -210px;
} 
.about-border {
    position: absolute;
    display: block;
    width: 400px;
    height: 1px;
    padding: 0px;
    background: #000000;
    /*
    margin: 20px auto;*/
}
.vizcards { 
    position: relative; 
    top: -2px;
    top:20px;
}
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}
.gencenter {
    position: relative;
    top:20px;
}
.maincenter {
    padding: 30px;
}
/*.navbar {
    background-color: #343a40 !important;
}*/
.navbar-default {
 
    background-color: #343a40;
   
    border-color:  #343a40;
   
  }
   
  .navbar-default .navbar-brand {
   
    color: #d7e2e9;
   
  }
   
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
   
    color: #e5dbdb;
   
  }
   
  .navbar-default .navbar-text {
   
    color: #d7e2e9;
   
  }
   
  .navbar-default .navbar-nav > li > a {
   
    color: #d7e2e9;
   
  }
   
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
   
    color: #e5dbdb;
   
  }
   
  .navbar-default .navbar-nav > li > .dropdown-menu {
   
    background-color: #69899f;
   
  }
   
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
   
    color: #d7e2e9;
   
  }
   
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
   
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
   
    color: #e5dbdb;
   
    background-color: #425766;
   
  }
   
  .navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
   
    background-color: #69899f;
   
  }
   
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
   
    color: #e5dbdb;
   
    background-color: #425766;
   
  }
   
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
   
    color: #e5dbdb;
   
    background-color: #425766;
   
  }
   
  .navbar-default .navbar-toggle {
   
    border-color: #425766;
   
  }
   
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
   
    background-color: #425766;
   
  }
   
  .navbar-default .navbar-toggle .icon-bar {
   
    background-color: #d7e2e9;
   
  }
   
  .navbar-default .navbar-collapse,
   
  .navbar-default .navbar-form {
   
    border-color: #d7e2e9;
   
  }
   
  .navbar-default .navbar-link {
   
    color: #d7e2e9;
   
  }
   
  .navbar-default .navbar-link:hover {
   
    color: #e5dbdb;
   
  }
   
   
   
  @media (max-width: 767px) {
   
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
   
      color: #d7e2e9;
   
    }
   
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
   
      color: #e5dbdb;
   
    }
   
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
   
      color: #e5dbdb;
   
      background-color: #425766;
   
    }
   
  }